@font-face {
	font-family: "Klee One";
	src: url("../../../font/kleeone_regular.ttf") format("truetype");

	font-weight: normal;
}

@font-face {
	font-family: "Klee One";
	src: url("../../../font/kleeone_semibold.ttf") format("truetype");

	font-weight: bold;
}

* {
	font-family: "Klee One", Arial, sans serif;
	font-weight: bold;
}

body {
	font-family: "Klee One";
	padding-top: 50px;
	padding-bottom: 70px;
	user-select: none;
}

/* SCROLLBAR STYLING */
/* width */
::-webkit-scrollbar {
	width: 2px;
	height: 2px;
}
/* Track */
::-webkit-scrollbar-track {
	background: white;
}
/* Handle */
::-webkit-scrollbar-thumb {
	background: black;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

#appbar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: #2a3f7a;
	color: white;
	z-index: 313;
	-webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
}
.abitem {
	padding: 20px;
	display: inline-block;
}
.noad {
	text-align: center;
}
.noad button {
	border: none;
	background-color: blue;
	color: white;
	padding: 10px;
	border-radius: 5px;
	margin: 5px;
}
#drawer {
	background-color: #e6e6e6;
	width: 512px;
	max-width: 85%;
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	padding-top: 70px;
	display: none;
	overflow: auto;
	-webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
}

#crossword {
	text-align: left;
    text-align: center;
    vertical-align: middle;
}

#container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.crossword {
    display: flex;
	border-collapse: collapse;
    font-family: "Klee One", Courier, monospace;
    margin-top: 10px;
    margin-bottom: 10px;
    flex: 1;
    text-align: center;
    vertical-align: middle;
}

.cluebox {
    display: flex;
    text-align: center;
    vertical-align: middle;
    flex-direction: column;
    flex: 1;
    margin-left: 20px; /* Adjust the margin as needed */
}

.crossword td {
	border: 1px solid black;
	padding: 0;
	margin: 0;
	vertical-align: middle;
	padding: 0;
	text-align: center;
	width: 30px;
	height: 30px;
}




.no-border {
	background-color: black;
}

.crossword .no-border {
	border: none;
}


.clues{
    text-align: center;
    vertical-align: middle;
}
#clues {
	font-size: 20px;
	margin: 1 auto;
    line-height: 1.5;
    padding
}

#clues td {
	vertical-align: top;
	margin: 0 auto;
	text-align: left;
    padding: 10px;
}

.canswer {
	display: none;
}
button {
	box-sizing: border-box;
	width: 100%;
	padding: 20px;
	border: none;
	outline: none;
	background-color: #2a3f7a;
	color: white;
	margin-top: 5px;
	margin-bottom: 5px;
}
#vkeyboard {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(256, 256, 256, 0.85);
	text-align: center;
	display: none;
	padding: 10px;
	z-index: 13;
	padding-top: 70px;
}
.kbtn {
	padding: 10px;
	border: 1px solid black;
	margin: 5px;
	display: inline-block;
	width: 30px;
}
th {
	text-align: left;
	font-weight: bold;
}
ul,
li {
	list-style-type: none;
	list-style-position: inside;
	margin: 0;
	margin-right: 5px;
	padding: 0;
}

#game {
	margin-bottom: 10px;
	padding: 10px;
	display: none;
}

.ditem {
	padding: 1em;
	border-bottom: 1px solid black;
	margin-bottom: 3px;
}

td:hover {
	background-color: yellow;
}
/* Solid border */
hr.solid {
    border-top: 1px solid #919090;
    width: 100%;
  }